<%= render partial: "shared/header", locals: {user: @user} %>
<div class="diary-wrapper">
  <div class="diaries-container">
    <div class="diaries-header">
      <h1>日記を書く</h1>
      <p>※日記は上の項目から順に書くのがより効果的です!</p>
    </div>

    <%= form_with model: [@user, @diary], local: true do |f| %>
      <div class="diary-field">
        <%= f.label "今日一番つらかった・嫌だったこと" %><br>
        <%= f.text_area :disliked %>
      </div>

      <div class="diary-field">
        <%= f.label "今日一番嬉しかった・よかったこと" %><br>
        <%= f.text_area :liked %>
      </div>

      <div class="diary-field">
        <%= f.label "明日の目標" %><br>
        <%= f.text_area :target %>
      </div>

      <div class="hidden" type="hidden">
        <%= f.date_field "date", value: Date.today %>
      </div>

      <div class="diary-submit">
        <%= f.submit "保存", class: "diary-submit-btn"%>
      </div>
    <% end %>
  </div>
</div>