<%= render partial: "shared/header", locals: {user: @user} %>

<div class="top-contents">
  <em>あなたの最適な生活リズムを見つけましょう</em>
  <p>SupreThm(シュプリズム)はあなたが最高のパフォーマンスを発揮するための生活リズムを提案します<br>
  あなたが最も輝ける生活リズムを発見しましょう！</p>
</div>

<div class="our-features">
  <h1 class="feature">最適なリズムをつくる3ステップ</h1>
  <div class="first step">
    <em>クロノタイプ診断</em>
    <%= image_tag "/images/body_tainai_dokei1.png", size: '100x200', class: "tainai-dokei"%>
    <div class="feature-contents">
      <p>人間は遺伝的に体内時計のパターンが決まっています。</p>
      <p>夜に活発になる人もいれば、日中が一番元気！という人もいます。</p>
      <p>このパターンを4つに分類したものをクロノタイプと呼びます。</p>
      <p>クロノタイプはアメリカの睡眠学者によって提唱されたものです。</p>
      <p>まずはあなたのクロノタイプを診断し、あなたに最適な睡眠時間や起床のタイミングなどを把握しましょう。</p>
    </div>
  <% unless user_signed_in? %>
    <%= link_to "クロノタイプ診断へ", new_chrono_path, class: "diagnosis-btn" %>
  <% end %>
  </div>

  <div class="second step">
    <em>スケジュール作成</em>
    <%= image_tag "/images/スケジュール帳.png", size: '190x115', class: "schedule-img" %>
    <div class="feature-contents">
      <p>診断されたクロノタイプを参考にあなたの一日のスケジュールを決めましょう。</p>
      <p>スケジュールはゆとりを持たせて設定すると守りやすくなります。</p>
      <p>自分の負担にならない程度に守るのが長く続けるコツです。</p>
      <p style="font-weight: bold;">※※スケジュールの作成には会員登録が必要です！※※</p>
    </div>
  </div>

  <div class="third step">
    <em>一行日記</em>
    <%= image_tag "/images/diary.png", size: '150x150', class: "diary-img" %>
    <div class="feature-contents">
      <p>一日を振り返るための日記をつけましょう。</p>
      <p>日記には</p><br>
      <p>・その日にあった最も嫌なこと</p>
      <p>・最も良かったこと</p>
      <p>・明日の目標</p><br>
      <p>を<span style="color: red;">上記の順番で</span>書きましょう。</p>
      <p>これによって一日の嫌なことを手放し、幸せな気持ちになってから最後に明日へ意識を向けて一日を終えることができます。</p>
      <p style="font-weight: bold;">※※日記機能の利用には会員登録が必要です！※※</p>
    </div>
  </div>
</div>

<div class="top-bottom">
  <p>さあ、あなたの快適な生活をスタートさせましょう！</p>
    <div class="btn-container">
      <%= link_to "診断して会員登録!", new_chrono_path, class: "sign-up btn", style: "color: white;" %>
      <span>or</span>
      <%= link_to "ログイン", new_user_session_path, class: "sign-in btn", style: "color: white;" %>
    </div>
</div>