<%= render partial: "shared/header", locals: {user: @user} %>

<div class="your-type">
  <p>あなたのクロノタイプは・・・</p>
  <%= image_tag chrono.image, size: '360x360', class: 'type-image' %>
  <p class="animal-name">
  <span><%= chrono.name %></span>です！
  </p>
</div>

<div class="chrono-details">
  <table>
    <tr>
      <th>必要な睡眠時間</th>
      <td><%= chrono.sleep_hours %>時間</td>
    </tr>

    <tr>
      <th>最適な就寝時間</th>
      <td><%= chrono.bed_time %></td>
    </tr>

    <tr>
      <th>起床時間</th>
      <td><%= chrono.wake_up %></td>
    </tr>

    <tr>
      <th>最も集中できる時間帯</th>
      <td><%= chrono.peak_time %></td>
    </tr>

    <tr>
      <th>運動に最適な時間帯</th>
      <td><%= chrono.exercise %></td>
    </tr>
  </table>
  <h1><%= chrono.name %>タイプの特徴</h1>
  <p><%= chrono.content%></p>

  <%= link_to "トップページへ戻る", root_path, class: "top-page-btn" %>
  <%= link_to "ユーザー登録", "/#{chrono.id}/sign_up", class: "user-rgst-btn" %>
</div>